body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-image: url("./the_globe-ConvertImage.jpg");
  background-color: grayscale(90%);
  background-size: cover;
}
.title {
  color: #fff;
  font-size: 50px;
  padding-top: 60px;
  padding-bottom: 550px;
}
.globe {
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.monologue-title {
  color: #fff;
}

.profile {
  margin-top: 50px;
}
.profilePage {
  text-align: center;
  padding-left: 20px;
  margin-top: 60px;
  color: white;
}

.profileInfo {
  border: solid;
  border-radius: 10px;
  background-color: #333;
  width: 50%;
  height: 100%;
  justify-content: center;
  text-align: center;
  margin-left: 25%;
  padding: 30px;
  font-size: 20px;
}

.newMonologue {
  text-align: center;
  font-size: 15px;
  display: block;
}

.newMonologue input {
  display: block;
}
.monologue {
  background-color: #333;
  padding: 15px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  color: #fff;
  border-style: solid;
  border-radius: 15px;
  border-color: #fff;

  display: block;
  text-align: center;
  font-size: 25px;
}

.monologueContainer {
  padding: 15px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  border-style: solid;
  border-radius: 15px;
  border-color: #fff;

  display: block;
  text-align: center;
  font-size: 25px;
}

.script {
  justify-content: center;
  text-align: center;
  display: flex;
  height: 100%;
  overflow: wrap;
}
/* .title {
  float: left;
} */
OverlayTrigger {
  text-align: center;
}
.individualMonologues {
  padding: 10px;
  text-align: center;
  padding-left: 30px;
}
.individualMonologues:hover {
  cursor: pointer;
}
button {
  margin: 15px;
}
.buttons {
  text-align: center;
  padding-left: 13%;
  margin: auto;
  margin-top: 20px;
}
.pageHeader {
  font-size: 50px;
  margin-top: 60px;
  color: white;
}
.log-in-button {
  margin-top: 80px;
  margin-bottom: 0px;
  text-align: center;
  justify-content: center;
  margin-left: 0px;
  height: 40px;
}
.sign-up-button {
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
  justify-content: center;
  margin-left: 0px;
  height: 40px;
}
.loginForm label {
  margin-top: 10px;
  margin-bottom: 0px;
}
img {
  text-align: center;
  width: 50%;
  height: 50%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.bg-modal {
  width: 100%;
  height: 150%;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-modal-profile {
  width: 100%;
  height: 200%;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-profile {
  width: 600px;
  top: -120px;
  height: 705px;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  border: solid;
  border-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  font-size: 15px;
  display: block;
}

.bg-modal-monologue {
  width: 100%;
  height: 250%;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content-monologue {
  width: 600px;
  top: -100px;
  height: 700px;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  border: solid;
  border-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  font-size: 20px;
}

.profileForm {
  padding-top: 10px;
  text-align: center;
  display: block;
}
.sign-up-button {
  margin-left: 0;
}

.profileForm input {
  display: block;
}

.modal-content {
  width: 600px;
  top: -150px;
  height: 660px;
  background-color: #333;
  border: solid;
  border-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  position: relative;
  font-size: 20px;
  color: #fff;
}
.loginForm {
  justify-content: center;
  text-align: center;
  display: block;
  font-size: 15px;
}
.loginForm input {
  display: block;
}
.bg-modal-stopwatch {
  width: 350%;
  height: 350%;
  left: -550px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: -200px;
  display: flex;
  align-items: center;
}

.modal-content-stopwatch {
  width: 20%;
  top: -100px;
  height: 275px;
  background-color: #333;
  border: solid;
  border-color: white;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  position: relative;
  left: 450px;
  font-size: 20px;
}

#timer {
  font-size: 50px;
}

#timer-buttons {
  text-align: center;
  justify-content: center;
  padding: auto;
  margin-left: 70px;
  margin-top: 10px;
}
input {
  width: 75%;
  display: inline-block;
  margin: 10px auto;
  text-align: left;
  justify-content: left;
  color: #000;
}
label {
  text-align: left;
  justify-content: left;
}
.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: white;
}
.close:hover {
  color: #e60000;
}

ButtonToolbar {
  margin: 5px;
  padding: 5px;
}

textarea {
  border: 1px solid #888;
  width: 80%;
  color: black;
}
